{% extends 'base.html' %}

{% block title %}
          Password Confirm
{% endblock title %}

{% block contact %}

    <h1 class="text text-success">Reset Your Password</h1>
    <hr>
    
    {% if  validlink %}
        <form method="post">
            {{form.as_p}}
            <input type="submit" value="Change Password" class="btn btn-primary">
            {% csrf_token %}
        </form>
    {% else %}
        <p class="text text-danger">Your Link is Not valid</p>
    {% endif %}

    

{% endblock contact %}